<footer class="impx-footer mb-lg-4">
    <div class="container">

        <div class="footer-widgets p-lg-4">
            <div class="row">

                <div class="col-lg col-sm-6">
                    <div class="footer-widget mb-lg-3 mb-sm-4 mb-3">
                        <h5 class="text-white">Alamat Kami</h5>
                        <ul>
                            <li>Jalan Harsono RM No. 3, Ragunan, Ps. Minggu, Kota Jakarta Selatan, Daerah Khusus
                                Ibukota
                                Jakarta 12550.</li>
                            <li>Phone : (021) 7802619 / 7807377</li>
                            <li>Fax : (021) 7807377</li>
                            <li>Email : <a href="mailto:">bkp@pertanian.go.id</a></li>

                        </ul>
                    </div>
                    <!-- Footer Widget 3 End -->
                </div>
                <div class="col-lg col-sm-6">
                    <!-- Footer Widget 4 -->
                    <div class="footer-widget mb-lg-3 mb-sm-4 mb-3">
                        <img src="images/footer-logo.png" alt="footer logo" class="mb-lg-3 mb-3">
                        <!-- <p class="mb-2">Nihilne te delectat umquam -video, quicum loquar-, te igitur, Torquate,
                            ipsum per se nihil delectat? Sin laboramus, quis est, qui alienae? </p> -->
                        <ul class="social-profile">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget 4 End -->
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom mx-lg-4 mb-lg-4 pt-lg-3 pb-lg-3 px-lg-3 p-2">
            <div class="row">
                <div class="col-lg-8  col-sm-12 col-12 ">
                    <!-- Footer Nav -->
                    <ul class="footer-nav mb-lg-0 ml-2 mb-2">
                        <li><a ui-sref="app.index">Beranda</a></li>
                        <li><a ui-sref="app.about">Tentang NBM</a></li>
                        <li><a ui-sref="app.blog">Informasi</a></li>
                        <li><a ui-sref="app.contact">Kontak</a></li>
                    </ul>
                    <!-- Footer Nav End -->
                </div>
                <div class="col-lg-4 col-sm-12 col-12 pb-1">
                    <!-- Site Copyright -->
                    <p class="site-copyright m-0 mr-2">&copy; 2019 <a ui-sref="app.index">NBM</a></p>
                    <!-- Site Copyright End -->
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->

    </div>
</footer>