    <!-- Page Heading -->
    <div class="impx-page-heading position-relative">
        <img src="images/tentang-nbm.jpg" class="img-fluid img-container" alt="About">
        <div class="page-title right p-lg-3 px-sm-3 py-sm-2 px-2 pt-1 rounded-left">
            <h4 class="text-white mb-lg-2 mb-sm-0">Tentang NBM</h4>
            <!-- <p class="mb-lg-0 mb-sm-2 d-lg-inline-block d-sm-none d-none">Lorem ipsum dolor sit amet, rutrum
                        lectus non libero molestie pellentesque</p> -->
        </div>
    </div>
    <!-- Page Heading End -->

    <!-- Content -->
    <div class="impx-content p-lg-4 m-lg-2 p-3 m-2">
        <div class="row">

            <!-- Content Main -->
            <div class="col-lg-8-5 mb-lg-0 mb-sm-3 mb-5">
                <h3 class="mb-lg-3">NBM</h3>
                <p>Pangan merupakan kebutuhan dasar manusia yang paling utama dan pemenuhannya merupakan bagian
                    dari hak asasi manusia yang dijamin di dalam Undang-Undang Dasar Negara Republik Indonesia
                    Tahun 1945 sebagai komponen dasar untuk mewujudkan sumber daya manusia yang berkualitas.
                    Berdasarkan Undang-Undang Pangan No. 18 tahun 2012 ketahanan pangan merupakan kondisi
                    terpenuhinya pangan bagi negara sampai dengan perseorangan yang tercermin dari tersedianya
                    pangan yang cukup, baik jumlah maupun mutunya, aman, beragam, bergizi, merata, dan
                    terjangkau serta tidak bertentangan dengan agama, keyakinan, dan budaya masyarakat, untuk
                    dapat hidup sehat, aktif, dan produktif secara berkelanjutan. Selain itu, Undang-Undang
                    tentang Pemerintahan Daerah No 23 tahun 2014 juga menjadikan pangan sebagai salah satu
                    urusan pemerintahan wajib yang tidak berkaitan dengan pelayanan dasar. Berdasarkan hal ini,
                    pembangunan Ketahanan Pangan dan Gizi sebagai salah satu upaya penyediaan pangan yang
                    berkelanjutan secara langsung juga menjadi tanggung jawab pemerintah daerah. Oleh karenanya
                    pembangunan ketahanan pangan dan gizi tidak hanya menjadi tugas pemerintah pusat, tetapi
                    juga menjadi urusan wajib yang harus dilaksanakan oleh pemerintah daerah. </p>

                <p>Pembangunan ketahanan pangan dan gizi di Indonesia di masa mendatang akan dihadapkan pada
                    tantangan pemenuhan pangan baik dari sisi penyediaan (supply) dan permintaan (demand).
                    Dampak dari perubahan iklim yang berpengaruh pada produksi komoditas pangan; skala usaha
                    sektor pertanian yang kecil, konversi lahan produktif pertanian, serta loss dan waste yang
                    masih tinggi merupakan tantangan yang harus dihadapi dari sisi penyediaan. Sedangkan dari
                    sisi permintaan, tantangan pembangunan ketahanan pangan ke depan dipengaruhi oleh jumlah
                    penduduk yang semakin meningkat sehingga membutuhkan pangan dalam jumlah besar; arus
                    urbanisasi dan migrasi yang mempengaruhi pola konsumsi dan keamanan pangan, tidak meratanya
                    akses pangan karena masih tingginya angka kemiskinan dan lokasi geografis yang terpencil,
                    serta masih tingginya permasalahan double burden malnutrition termasuk kurang gizi dan
                    obesitas. </p>
                <p>Pemenuhan kebutuhan menjadi faktor yang harus diperhatikan dalam pembangunan ketahanan pangan
                    dan gizi dengan memperhatikan aspek ketersediaan, keragaman, maupun kemanan yang
                    berkelanjutan. Untuk itu pemerintah harus melakukan perencanaan penyelenggaraan pangan yang
                    diarahkan untuk mewujudkan kedaulatan, kemandirian dan ketahanan pangan sebagaimana
                    diamanatkan dalam Undang-undang Pangan Nomor 18 Tahun 2012. Perencanaan penyelenggaraan
                    pangan harus mempertimbangkan beberapa hal sebagaimana disebutkan pada Pasal 7, yaitu
                    pertumbuhan dan sebaran penduduk; kebutuhan konsumsi pangan dan gizi; daya dukung sumberdaya
                    alam, teknologi dan kelestarian lingkungan; pengembangan sumber daya manusia untuk
                    penyelenggaraan pangan; kebutuhan sarana dan prasarana penyelenggaraan pangan; potensi
                    pangan dan budaya lokal; rencana tata ruang wilayah; dan rencana pembangunan nasional dan
                    daerah. Untuk mendukung perencanaan penyelenggaraan pangan Pemerintah dan Pemerintah Daerah
                    sesuai dengan kewenangannya berkewajiban membangun, menyusun, dan mengembangkan Sistem
                    Informasi Pangan dan Gizi yang terintegrasi sebagaimana tertuang dalam Peraturan Pemerintah
                    Nomor 17 Tahun 2015 tentang Ketahanan Pangan dan gizi. </p>
                <p>Sebagai salah satu unit eselon II di bawah Badan Ketahanan Pangan, Pusat Ketersediaan dan
                    Kerawanan Pangan memiliki tugas pokok melaksanakan koordinasi, pengkajian, penyiapan
                    perumusan dan pelaksanaan kebijakan di bidang peningkatan ketersediaan dan penurunan
                    kerawanan pangan. Tugas pokok tersebut dilakukan melalui pelaksanaan kegiatan analisis
                    ketersediaan pangan, analisis situasi pangan dan gizi, penyusunan peta ketahanan dan
                    kerentanan pangan, pengembangan desa dan kawasan mandiri pangan, penguatan sistem
                    kewaspadaan pangan dan gizi, dan analisis akses pangan sebagai bagian dari upaya membangun,
                    menyusun dan mengembangkan sistem informasi pangan dan gizi.</p>
                <p>Penyusunan Neraca Bahan Makanan (NBM) merupakan salah kegiatan analisis ketersediaan pangan
                    yang dimaksudkan untuk mengetahui data dan informasi tentang situasi dan keadaan
                    ketersediaan bahan pangan untuk dikonsumsi penduduk dalam kurun waktu tertentu. NBM
                    memberikan informasi tentang ketersediaan bahan pangan untuk setiap komoditas yang lazim
                    dikonsumsi penduduk berdasarkan sumber penyediaan dan penggunaannya. Penyediaan diperoleh
                    dari jumlah total bahan pangan yang diproduksi dikurangi dengan perubahan stok ditambahkan
                    dengan jumlah impor dan dikurangi dengan jumlah ekspor selama periode tersebut. Sedangkan
                    penggunaan diperoleh dari jumlah total kebutuhan pakan, bibit, industri makanan dan non
                    makanan, tercecer, dan penggunaan lain serta bahan makanan yang tersedia untuk dikonsumsi
                    manusia. Ketersediaan pangan per kapita untuk dikonsumsi diperoleh dengan membagi
                    ketersediaan bahan makanan dengan jumlah penduduk pertengahan tahun.</p>
                <p>NBM nasional dan daerah disusun dengan mengacu pada metode yang disusun oleh Food and
                    Agriculture Organization (FAO) dengan mempertimbangkan kondisi dan ketersediaan data. Data
                    yang digunakan untuk menyusun NBM berasal dari instansi terkait yang telah dipublikasikan
                    secara resmi, sehingga dapat digunakan sebagai salah satu bahan untuk melakukan evaluasi dan
                    perencanaan pangan, serta sebagai bahan untuk perumusan kebijakan pangan dan perbaikan gizi
                    masyarakat. </p>
                <p>NBM nasional disusun setiap tahun oleh Bidang Ketersediaan Pangan dengan dukungan tim lintas
                    sektor yang terdiri dari ditjen teknis lingkup Kementerian Pertanian, Ditjen Perikanan
                    Budidaya dan Ditjen Perikanan Tangkap Kementerian Kelautan dan Perikanan, Kementerian
                    Kesehatan, Bulog dan BPS. NBM dimanfaatkan untuk melakukan evaluasi dan perencanaan pangan
                    maupun sebagai bahan untuk perumusan kebijakan pangan dan perbaikan gizi masyarakat. Pada
                    tahun 2017 dan 2018 NBM juga digunakan oleh BPK sebagai salah satu informasi untuk
                    mengevaluasi impor komoditas pangan. Hasil NBM juga digunakan untuk mengukur capaian
                    indikator kinerja kegiatan bidang ketersediaan pangan dan Pusat Ketersediaan dan Kerawanan
                    Pangan.Pemerintah daerah juga menyusun NBM yang dilaksanakan oleh Dinas Ketahanan Pangan
                    provinsi/kabupaten dengan dukungan instansi lintas sektor. Hasil NBM selain digunakan untuk
                    mengevaluasi ketersediaan pangan wilayah juga digunakan untuk menghitung capaian kinerja
                    ketahanan pangan.</p>
                <p>Mengingat bahwa penyusunan NBM baru dilakukan sampai dengan wilayah kabupaten, pada tahun
                    2019 Bidang Ketersediaan Pangan menjajaki kemungkinan penyusunan NBM sampai dengan level
                    kecamatan. Tantangan terkait dengan penyusunan NBM level kecamatan antara lain ketersediaan
                    data, ketersediaan metodologi analisis yang lebih sederhana serta ketersediaan SDM dan
                    anggaran di daerah. </p>
                <p>Penyusunan Neraca Bahan Makanan (NBM) membutuhkan data-data terkait penyediaan pangan seperti
                    produksi, stok, impor dan ekspor serta data terkait penggunaan pangan seperti penggunaan
                    untuk benih, pakan, tercecer, industri, pangan dan penggunaan lainnya. Data tersebut
                    diperlukan untuk masing-masing kelompok bahan pangan yaitu kelompok padi-padian/serealia,
                    umbi-umbian, pangan hewani, minyak dan lemak, buah/biji berminyak, kacang-kacangan, gula
                    serta sayuran dan buah. Data-data tersebut kemudian diolah dengan menggunakan tabel excel
                    yang telah dilengkapi dengan formula dan angka konversi. Pengolahan data dengan menggunakan
                    excel tersebut juga dilengkapi dengan panduan dalam bentuk buku panduan penyusunan Neraca
                    Bahan Makanan yang berisi mengenai penjelasan dari setiap komponen NBM. </p>
                <p>Namun demikian pemahaman terhadap metodologi yang digunakan untuk penyusunan NBM stakeholder
                    provinsi dan kabupaten masih rendah. Rendahnya pemahaman terhadap metodologi yang digunakan
                    menyebabkan beberapa permasalahan antara lain: kurang sesuainya hasil NBM dengan situasi
                    ketersediaan pangan wilayah; seringnya stakeholder provinsi dan kabupaten melakukan
                    konsultasi ke pusat yang berakibat pada kurang efisiennya penggunaan anggaran; serta menyewa
                    pihak ketiga untuk melakukan penyusunan NBM. </p>
                <p>Beberapa permasalahan yang menjadi penyebab rendahnya pemahaman terhadap metodologi yang
                    digunakan untuk penyusunan NBM antara lain: laju pergantian staf yang cukup tinggi di
                    tingkat provinsi dan kabupaten; bimbingan teknis yang masih kurang efektif; panduan yang
                    kurang menarik serta tabel excel yang digunakan terlalu kompleks dan masih kurang dipahami
                    oleh stakeholders di provinsi dan kabupaten. Dari beberapa permasalahan tersebut di atas,
                    masih kompleksnya tabel excel yang digunakan untuk melakukan penyusunan NBM merupakan akar
                    dari permasalahan rendahnya pemahaman stakeholder terhadap metodologi penyusunan NBM. </p>
                <p>Berangkat dari permasalahan tersebut di atas, pembuatan aplikasi penyusunan NBM berbasis
                    online yang user friendly untuk mengotomatisasi penyusunan NBM dan informasi pendukungnya.
                    Penggunaan aplikasi akan mendorong stakeholder untuk menghasilkan NBM yang sesuai dengan
                    kondisi wilayah setempat; mengurangi frekuensi kunjungan ke pusat, dan mengurangi
                    ketergantungan dengan pihak ketiga, sehingga penyusunan NBM menjadi lebih efektif dan
                    efisien.</p>
                <!-- Highlights -->
                <!-- <div class="impx-hp-hl">
                            <div class="row">
                                <div class="col-lg col-sm-6 mb-lg-3 mb-4">
                                    <h5 class="mb-lg-2 text-green">Company Profile</h5>
                                    <div class="row no-gutters">
                                        <div class="col-lg-8">
                                            <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum.
                                                Quae quo sunt excelsiores, eo dant clariora indicia naturae.</p>
                                            <button type="button"
                                                class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mb-lg-0 mb-3">view
                                                more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="images/content/img-1.jpg" alt=""
                                                class="img-fluid boxed-img img-thumbnail p-lg-2 p-sm-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg col-sm-6 mb-lg-3 mb-4">
          
                                    <h5 class="mb-lg-2 text-green">Our History</h5>
                                    <div class="row no-gutters">
                                        <div class="col-lg-8">
                                            <p>Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt
                                                excelsiores, eo dant clariora indicia naturae.</p>
                                            <button type="button"
                                                class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mb-lg-0 mb-3">view
                                                more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="images/content/img-2.jpg" alt=""
                                                class="img-fluid boxed-img img-thumbnail p-lg-2 p-sm-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 mb-lg-2"></div>
                                <div class="col-lg col-sm-6 mb-lg-3 mb-4">
                             
                                    <h5 class="mb-lg-2 text-green">Vision and Mission</h5>
                                    <div class="row no-gutters">
                                        <div class="col-lg-8">
                                            <p>Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt
                                                excelsiores, eo dant clariora indicia naturae.</p>
                                            <button type="button"
                                                class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mb-lg-0 mb-3">view
                                                more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="images/content/img-3.jpg" alt=""
                                                class="img-fluid boxed-img img-thumbnail p-lg-2 p-sm-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg col-sm-6 mb-lg-3 mb-4">
                                 
                                    <h5 class="mb-lg-2 text-green">Our Team</h5>
                                    <div class="row no-gutters">
                                        <div class="col-lg-8">
                                            <p>Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt
                                                excelsiores, eo dant clariora indicia naturae.</p>
                                            <button type="button"
                                                class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mb-lg-0 mb-3">view
                                                more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                                        </div>
                                        <div class="col-lg-4">
                                            <img src="images/content/img-4.jpg" alt=""
                                                class="img-fluid boxed-img img-thumbnail p-lg-2 p-sm-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->


            </div>
            <!-- Content Main End -->

            <!-- Sidebar -->
            <div class="col-lg-3-5">
                <aside class="impx-sidebar">



                    <div class="impx-widget spacing p-lg-4 p-3 impx-padding-medium-vertical">
                        <h5 class="mb-lg-4 mb-4">Testimonial</h5>
                        <div class="side-testimonial">
                            <blockquote class="blockquote mb-lg-0">
                                <p class="mb-2">Sed rutrum ligula non purus sagittis non imperdiet metus
                                    pharetra. Aenean ut lorem in augue. Mauris sapien purus, ultricies sed urna.
                                    Cras id est venenatis orci porta volutpat sit amet vitae magna.</p>
                                <footer class="blockquote-footer">Thimoty <cite title="Source Title">Business
                                        Analyst</cite></footer>
                            </blockquote>
                        </div>
                    </div>


                </aside>
            </div>
            <!-- Sidebar End -->

        </div>
    </div>
    <!-- Content End -->